
#searchBox {
    display: flex;
    flex-direction: column;
    gap: 8px;  
}

#searchBox label,
#searchBox textarea,
#searchBox button {
    box-sizing: border-box;  
}

#searchBox textarea {
    margin: 8px 0; 
}

#searchBox button {
    margin-top: 8px;
}

.radio-button-container {
    padding-left: 10px;  
    padding-top: 10px;  
}

#searchBox select,
#searchBox textarea, button {
    width: 200px;  
    height: 25px;  
    font-family: 'Times New Roman', Times, serif;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;  
    box-sizing: border-box;
    outline: none;  
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  
    border-radius: 4px;  
    background-color: #627354;  
    color: #333;  
}
button:hover {
    background-color: #374937; 
    color: white;  
    cursor: pointer;  
}

#searchBox textarea {
    resize: none;  
}

#searchBox {
    margin-top: 20px;
    color:aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;  
    gap: 10px;  
    background-color: rgba(53, 91, 78, 0.57);
    padding-top: 50px;
    padding-bottom: 50px;
    outline: 2px solid #000000;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    font-weight: bold;
}
#searchResults {
    padding: 50px;
    padding-bottom: 500px;
    background-color: rgba(23, 39, 34, 0.818);
    margin-top: 20px;  
    outline: 2px solid #000000;
    display: flex; /* This establishes a flex container */
    flex-wrap: wrap; /* This allows the items to wrap onto the next line */
    justify-content: flex-start; /* Aligns items to the start of the container */
    align-items: stretch; /* Stretches items to fill the container in the cross-axis */
    gap: 20px;  
}



.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.534);
    transition: 0.3s;
    width:20%;
    flex: 0 1 calc(20% - 20px); /* 100% divided by 5 cards minus the gap */
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #5c6b51b5;
}

.card-body {
    padding: 2px 16px;
}

.card-title {
    font-size: 20px;
    margin-bottom: 15px;
}

.card-text {
    margin-bottom: 10px;
}
#card-container {
    display: flex; /* This establishes a flex container */
    flex-wrap: wrap; /* This allows the items to wrap onto the next line */
    justify-content: flex-start; /* Aligns items to the start of the container */
    align-items: stretch; /* Stretches items to fill the container in the cross-axis */
    gap: 20px; 
}
.card-img-top {
    width: 100%; 
    height: auto; /* This will maintain the original aspect ratio of the image */
    object-fit: contain; /* This will make sure all of the image is visible */
    display: block; /* This will ensure the image block is centered if width is less than 100% */
    margin: 0 auto; /* This will center the image horizontally in the card */
}

@media (max-width: 600px) {
    .card {
        flex: 0 1 100%; /* On smaller screens, let each card take full width of the container */
    }
}
