 nav {
    background-color: rgba(5, 23, 7, 0.856);
    color:aliceblue;
    outline: 2px solid #000000;
}
nav ul {
    list-style-type: none; /* This removes the bullet points */
    margin: 5.0px;
    padding: 20.0px;
}

nav li {
    display: inline-block; /* This will place items next to each other */
    margin-right: 10px; /* Adjust the right margin to create space between items */
}
nav a {
    text-decoration: none; /* Removes the underline from links */
    color: rgb(236, 227, 227); /* Set the text color for the links */
}
#title {
    font-size: 1.5em; /* Adjust as needed */
    font-weight: bold;
}
body {
    background-image: url('bg.jpeg'); /* Path to your image file */
    background-size: cover; /* Cover the entire viewport without repeating */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-attachment: fixed; /* Keep the background fixed during scroll */
    background-position: center center; /* Center the background image */
}
